<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70539957511-2u2vd08emav1nv31klf17dbbcir1j5fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70539957511-2u2vd08emav1nv31klf17dbbcir1j5fo</string>
	<key>API_KEY</key>
	<string>AIzaSyD_6gdaJmsSXhUshfYHwbFsIWMdbY4Q3LQ</string>
	<key>GCM_SENDER_ID</key>
	<string>70539957511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krisnadwia.qcPartsCheck</string>
	<key>PROJECT_ID</key>
	<string>qc-parts-check</string>
	<key>STORAGE_BUCKET</key>
	<string>qc-parts-check.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70539957511:ios:2685a9528e1eb270dde1a2</string>
</dict>
</plist>